/* ♻️ Tiny CSS Reset (https://github.com/gnat/css-reset-tiny) */
*,::before,::after,::backdrop,::file-selector-button { box-sizing: border-box; margin: 0; } /* Prevent padding and border from affecting element width. Remove margins. */
html { text-size-adjust: none; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; tab-size: 4; line-height: 1.5; } /* Prevent font size inflation on mobile. Sane tab size, line height. */
html,body { background: #aaa; line-height: inherit; } /* Disable screen flashbang. */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6,label,table,td,th { padding: 0; } /* No padding. */
h1,h2,h3,h4,h5,h6,p { font-size: inherit; font-weight: inherit; overflow-wrap: break-word; } /* Reset all headers and <p>. */
h1,h2,h3,h4 { text-wrap: balance; line-height: 1; } /* Balance text on big headers. Reset line height. */
button,input,select,textarea { font: inherit; } /* No custom font on forms. */
img,picture,svg,video { height: auto; max-width: 100%; } /* Media should not break outside of parent. */
audio,canvas,embed,iframe,img,object,svg,video { vertical-align: middle; } /* Removes tiny space on bottom. */
table { text-indent: 0; border-color: inherit; border-collapse: collapse; border-spacing: 0; } /* Modern tables. */
[hidden],style { display: none !important; } /* Hidden elements stay hidden. */
